Host 10.0.4.*
  ProxyCommand ssh -W %h:%p bastion.example.com
  IdentityFile ~/.ssh/ssh-bastion-key

Host 10.0.1.*
  ProxyCommand ssh -W %h:%p bastion.example.com
  IdentityFile ~/.ssh/ssh-bastion-key


Host bastion.example.com
  Hostname bastion.example.com
  User ubuntu
  IdentityFile ~/.ssh/ssh-bastion-key
  ControlMaster auto
  ControlPath ~/.ssh/ansible-%r@%h:%p
  ControlPersist 5m